<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div id="chart"></div>
      <div id="chart-two"></div>
      <div id="chart-three"></div>
      <div id="chart-four"></div>
    </div>
    <button onclick="window.location.href='/addData'" class="btn">
      Add Record
    </button>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </body>
</html>
<style>
  body {
    background-color: aqua;
  }
  .container {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 0 auto;
    background: linear-gradient(
      120deg,
      rgb(137 212 232) 19%,
      rgb(202 201 228) 100%
    );
    border-radius: 10px;
  }
  .btn {
    display: block;
    margin: 1em auto;
    padding: 0.5em 1.5em;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  .btn:hover {
    background-color: #0056b3;
  }
</style>
<script>
  const options = {
    chart: {
      type: "line",
    },
    series: [
      {
        name: "sales",
        data: [45, 61978, 163185, 22258, 1579, 7, 0, 0, 0, 0],
      },
    ],
    xaxis: {
      categories: [
        "0 - 500",
        "500 - 1000",
        "1000 - 1500",
        "1500 - 2000",
        "2000 - 2500",
        "2500 - 3000",
        "3000 - 3500",
        "3500 - 4000",
        "4000 - 4500",
        "4500 - 5000",
      ],
    },
    fill: {
      type: "gradient",
      gradient: {
        shade: "dark",
        gradientToColors: ["#FDD835"],
        shadeIntensity: 1,
        type: "horizontal",
        opacityFrom: 1,
        opacityTo: 1,
        stops: [0, 100, 100, 100],
      },
    },
  };

  const chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();

  const data = {
    chart: {
      type: "bar",
    },
    series: [
      {
        name: "sales",
        data: [30, 40, 35, 50, 49, 60, 70, 91, 125],
      },
    ],
    xaxis: {
      categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999],
    },
  };

  const chartTwo = new ApexCharts(document.querySelector("#chart-two"), data);
  chartTwo.render();

  const area = {
    chart: {
      type: "area",
    },
    series: [
      {
        name: "sales",
        data: [45, 61978, 163185, 22258, 1579, 7, 0, 0, 0, 0],
      },
    ],
    xaxis: {
      categories: [
        "0 - 500",
        "500 - 1000",
        "1000 - 1500",
        "1500 - 2000",
        "2000 - 2500",
        "2500 - 3000",
        "3000 - 3500",
        "3500 - 4000",
        "4000 - 4500",
        "4500 - 5000",
      ],
    },
    fill: {
      type: "gradient",
      gradient: {
        shade: "dark",
        gradientToColors: ["#FDD835"],
        shadeIntensity: 1,
        type: "horizontal",
        opacityFrom: 1,
        opacityTo: 1,
        stops: [0, 100, 100, 100],
      },
    },
  };

  const chartThree = new ApexCharts(
    document.querySelector("#chart-three"),
    area
  );
  chartThree.render();

  const pie = {
    chart: {
      type: "scatter",
    },
    series: [
      {
        name: "sales",
        data: [45, 61978, 163185, 22258, 1579, 7, 0, 0, 0, 0],
      },
    ],
    xaxis: {
      categories: [
        "0 - 500",
        "500 - 1000",
        "1000 - 1500",
        "1500 - 2000",
        "2000 - 2500",
        "2500 - 3000",
        "3000 - 3500",
        "3500 - 4000",
        "4000 - 4500",
        "4500 - 5000",
      ],
    },
  };

  const chartFour = new ApexCharts(document.querySelector("#chart-four"), pie);
  chartFour.render();
</script>
